/* footer */
.footer_inner a { color: #fff; }
.footer_inner > ul.site_map { display: flex; justify-content: center; }
.site_map > li { flex: 1; font-size: 14px; font-family: Harmony_M; line-height: 30px; }
.site_map > li > a { display: block; padding-bottom: 30px; }

.site_map > li > ul > li { position: relative; font-family: Harmony_L; font-size: 12px; line-height: 30px; }
.site_map > li > ul > li > a { display: inline-block; padding: 0 10px; box-sizing: border-box; }
.site_map > li > ul > li > div > a { display: inline-block; padding: 0 10px; box-sizing: border-box; }

/* a태그에 hover 했을 때 */
.site_map > li > ul > li > div > ul { display: none; }
.site_map > li > ul > li > div > ul.on { display: block; z-index: 20; position: absolute; right: -110px; top: 0; width: 180px; background: #0a246b; }
.site_map > li > ul > li > div > ul.on > li { font-family: Harmony_L; font-size: 12px; line-height: 30px; }
.site_map > li > ul > li > div > ul.on > li > a { color: #ddd; }
.site_map > li > ul > li > div > ul.on > li > a:hover { color: #0096d6; }

/* footer_company */
.footer_inner li.footer_company > div { display: flex;gap: 30px; }
.footer_inner li.footer_company > div > ul{flex:1; }
.footer_inner li.footer_company > div > ul > li { font-family: Harmony_L; font-size: 12px; }
.footer_inner li.footer_company > div > ul > li > a {display:block; padding: 0 10px; box-sizing: border-box; }

.footer_inner li.footer_company > div > ul div.min_map{position:relative;}
.footer_inner li.footer_company > div > ul div.min_map ul { display: none; }
.footer_inner li.footer_company > div > ul div.min_map ul.on { display: block; z-index: 20; position: absolute; right:-160px; top: 0; width: 160px; background: #0a246b; }
.min_map > ul.on > li { font-family: Harmony_L; font-size: 12px; line-height: 30px; }
.min_map > ul.on > li > a { color: #ddd; }
.min_map > ul.on > li > a:hover { color: #0096d6; }

/* footer_dl */
.footer_inner > dl { width: 100%; font-size: 14px;
margin-top: 30px; display: flex; justify-content: space-between; height: 40px; line-height: 40px; }
.footer_inner > dl::before { display: block; content: ""; clear: both; 
   position: absolute; left: 0; top: 368px; width: 100%; height: 40px; border-top: 1px solid #fff; border-bottom: 1px solid #fff; }

.footer_inner > dl > dd { position: relative; width: 128px; height: 30px; margin-top: 5px; line-height: 30px; 
   background: #002e4261; border-radius: 2px; }

.footer_inner > dl > dd.map_toggle { position: relative; width: 190px; text-indent: -38px; }
.footer_inner > dl > dd.map_toggle > a::after { display: block; clear: both; content: "";
   position: absolute; right: 20px; top: 0; width: 30px; height: 30px; background: url(../images/icon_footer_arrow.png) no-repeat 0 0/cover; }
.footer_inner > dl > dd.map_toggle.on > a::after { background-position-x: -30px; }

/* footer_toggle */
.footer_inner dd > ul { opacity: 0; visibility: hidden; position: absolute; left: 0; top: -300px; display: flex; flex-direction: column; 
   width: 190px; text-align: center; text-indent: 0; background: #061641; border: 1px solid white; }
.footer_inner dd > ul.on { opacity: 1; visibility: visible; }
/* height 값 각각 지정 */
.footer_inner dd > ul.jinro_sns { height: 600px; top: -608px; }
.footer_inner dd > ul.family_site { height: 200px; top: -208px; }

.footer_inner dd > ul > li { flex: 1; line-height: 40px; }
.footer_inner dd > ul > li:hover { background: #eee; }
.footer_inner dd > ul > li:hover > a { color: #061641; }

/* address */
.footer_inner address { padding-top: 50px; font-size: 14px; letter-spacing: 0; line-height: 24px; }
.footer_inner address span { padding: 0 6px; }

/* copyright */
.footer_inner > p.copy { font-size: 12px; padding-top: 5px; letter-spacing: 0; }
